<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Delivery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Go to form:</h1>
    <a href="/form">Form</a>
  </body>
</html>
